@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400&display=swap');

.main {
  margin: 10% 15% 0 15%;
  display: flex;
  flex-direction: column;
}

.info-about-me{
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-about-me_h2 {
  margin: 0.3em;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.info-about-me_h2 span {
  color: #773ee2;
}

.about-me-contacts {
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my_photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.my_contacts{
  width: 50%;
  border: 4px double #8650eb;
  border-radius: 15px;
}

.contast1_list{
  float: left;
  padding: 0.5% 15% 0.5% 5%;
  list-style: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.9em;
}

.contast1_list li{
  margin-top: 0.4em;
}

.contast2_list{
  padding: 0.5%;
  list-style: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.contast2_list li{
  margin-top: 0.4em;
}

.contast2_list a {
  color: #000;
  text-decoration: none;
}

.contact-link:hover {
  color: #773ee2;
}
